<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=480px, user-scalable=no">
    <meta name="viewport" content="target-densitydpi=get-target-densitydpi, width=device-width, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">


    <link rel="stylesheet" href="../../../assets/modular/mobile/css/resert.css" />
    <link rel="stylesheet" href="../../../assets/modular/mobile/css/index.css" />
    <link rel="stylesheet" href="../../../assets/modular/mobile/css/weui.css" />
    <link rel="stylesheet" href="../../../assets/modular/mobile/css/weuix.css" />


    <!--1.引入JS文件-->
    <script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    <script src="../../../assets/modular/mobile/js/jquery.js"></script>
    <script src="../../../assets/modular/mobile/js/zepto.min.js"></script>
    <script src="../../../assets/modular/mobile/js/zepto.weui.js"></script>
    <script src="../../../assets/modular/mobile/js/vue.js"></script>
    <title></title>

    <style type="text/css">
        .zijijizi {
            background: url("../../../assets/modular/mobile/images/me.png");
        }

        .bangtajizi {
            background: url("../../../assets/modular/mobile/images/she.png");
        }

        #total_bar .hj-name .name-list tr:nth-child(odd) {
            background: rgb(255, 208, 166);
        }

        .name-list {
            font-size: .8em;
        }

        .name-list tr:nth-child(odd) {
            background: rgb(255, 208, 166);
        }

        .arrownote {
            width: 100%;
            height: 10px;
            position: fixed;
            bottom: 17%;
            z-index: 90;
        }

        .arrow {
            background: url(../../../assets/modular/mobile/images/music.png) no-repeat;
            width: 60px;
            background-size: 100% 100%;
            height: 60px;
            position: relative;
            z-index: 90;
            display: block;
            margin: 0 auto;
        }

        .musicicon {
            background: url(../../../assets/modular/mobile/images/musicIcon.png) no-repeat;
            background-size: 100% 100%;
            width: 30px;
            height: 30px;
            position: absolute;
            top: 10px;
            left: 7px;
            z-index: 999
        }

        .musicrotate {
            -webkit-animation: xuanzhuan 1.2s infinite linear;
            z-index: 999;
            animation: xuanzhuan 1.2s infinite linear;
        }



        ::-webkit-scrollbar {
            width: 12px !important;
            height: 12px !important;
        }

        ::-webkit-scrollbar-track:vertical {}

        ::-webkit-scrollbar-thumb:vertical {
            background-color: rgba(136, 141, 152, 0.5) !important;
            border-radius: 10px !important;
            background-clip: content-box !important;
            border: 2px solid transparent !important;
        }

        ::-webkit-scrollbar-track:horizontal {}

        ::-webkit-scrollbar-thumb:horizontal {
            background-color: rgba(136, 141, 152, 0.5) !important;
            border-radius: 10px !important;
            background-clip: content-box !important;
            border: 2px solid transparent !important;
        }

        ::-webkit-resizer {
            display: none !important;
        }

        .weui-table td,
        .weui-table th,
        table td,
        table th {
            border: none;
            padding: 0;
        }


        .name-list {
            font-size: .8em;
        }

        .name-list tr:nth-child(odd) {
            background: rgb(255, 208, 166);
        }

        .hao_close {
            position: absolute;
            top: -15px;
            right: -15px;
            width: 30px;
            height: 30px;
            background: url(../../../assets/modular/mobile/images/guanbi.png)no-repeat center;
            background-size: 30px 30px;
        }

        #add_bm .baom .erWeiMaClose {
            top: 50px;
            right: 0px;
            width: 36px;
            height: 36px;
        }

        #add_bm .baom .closeDiv {
            padding: 10px;
        }
    </style>


</head>

<body style="position: absolute;width: 100%;height: 100%">
    <div id="app">
        <div class="musicicon" v-on:click='musicClick' :class="musicFlag? 'musicrotate':''"></div>
        <audio id="audio" loop="-1" src="../../../assets/modular/mobile/music/bgm.mp3" autoplay></audio>
        <section id="index_header">
            <img :src="bgUrl" width="640px">
            <div class="header-bar">
                <!-- <h2 class="">{{title}}</h2> -->
                <!-- <h3>{{sum}}人参加了活动</h3> -->
                <div class="help">
                    <!-- <h4 class="i-footer" v-for='item in hasDoneData'>
                        <img :src="item.photo">
                        <span>{{item.name}}已集齐
                            <span id="zishu" style="background: rgba(0,0,0,0);" v-text='item.collect'></span>张图</span>
                    </h4> -->
                    <div class="bang">
                        <div id="dian" class="dian" :class="jiziFlag == 1? 'zijijizi':'bangtajizi'">
                            <div class="dise" v-on:click='jiziClick()'></div>
                        </div>
                    </div>
                </div>
                <!-- <div id="mystartbtn" class="drift"  v-if='jiziFlag == 1' style="position: absolute; left: 10px; width: 37%; top: 98%; background: rgb(255, 193, 7); border-radius: 15px;font-size: .9em;color:red;padding: 5px 3px;">点击右上角分享给朋友助力更快获得大奖</div> -->
                <!-- <div id="mystartbtn" class="drift" v-on:click='test' style="position: absolute; left: 10px; width: 25%; height: 40px; line-height: 40px; top: 77%; background: rgb(255, 193, 7); border-radius: 15px;">分享给朋友</div> -->
                <div id="mygiftbtn" class="drift" v-on:click='myGiftShow()' v-if='jiziFlag == 10' style="position: absolute; right: 10px; width: 35%; top: 80%; ">
                    <img src="../../../assets/modular/mobile/images/mygiftbtn.png" style="width: 100%">
                </div>

                <div id="add_bm" v-show='showResult'>
                    <div id="tu_info_box add_bm" class="hao-bar  box_hide zoomIn">
                        <img src="../../../assets/modular/mobile/images/kapbj.png">
                        <div class="hao">
                            <h4 id="tu_info_title">抽奖结果</h4>
                            <!-- <div class="pic" id="tu_info_pic" style="background:url(../../../assets/modular/mobile/images/ri.png)"></div> -->
                            <div class="pic" id="tu_info_pic" :style="{backgroundImage:'url('+showResultBgUrl+')'}"></div>
                            <!-- <div class="user" id="tu_info_desc"></div> -->
                            <div class="give" id="tu_info_link" style="">
                                <a v-on:click='closeAlert'>确定</a>
                            </div>
                        </div>
                        <div id="tu_info_box_close" class="hao_close" v-on:click='closeAlert'></div>
                    </div>
                </div>
                <div id="add_bm" v-if='myGift'>

                    <div class="area-box hj-name box_hide" style="position:relative;width:80%;margin:50% auto;height:30%;background: #FBE8D7;    padding: 10px 5px;">
                        <div id="tu_info_box_close" class="hao_close" v-on:click='closeMyGifg'></div>
                        <table id="zj_list_table" class="name-list clearfix" style="background: #FBE8D7;">
                            <tbody>
                                <tr>
                                    <th class="textLeft">奖项</th>
                                    <th>奖品</th>
                                    <th class="textRight">兑奖时间</th>
                                </tr>
                                <tr v-for='item in myGiftList'>
                                    <td class="textLeft" v-text='item.award_level'></td>
                                    <td v-text='item.award_name'></td>
                                    <td class="color textRight" v-text='item.time'></td>
                                </tr>
                                <tr v-if='myGiftList.length<1'>
                                    <td colspan="3" style="textAlign:center">未获得奖品</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="jizi-bar-more drift">
                <ul class="clearfix">
                    <li v-for='(item,index)  in jiziData' v-if='index < 5'>
                        <div class="area">
                            <img style="border-radius: 5px;" :src="item.wordUrl">
                            <i id="zi_1" v-text="item.num ?item.num:'0'"></i>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <section id="total_bar" class="clearfix">
            <ul class="active-list clearfix">
                <li :class="flag == index+1?'on':''" v-for='(item,index) in tabNav' v-text='item' v-on:click='tabChange(index)'></li>
            </ul>
            <!-- 规则页 -->
            <div class="area-box hj-rule" v-show='flag==1'>
                <!-- <p>1、关注"昌建·沁源和"微信公众号,点击菜单栏"集字有礼"进入活动;</p>
                <p>2、点击"我要集字",即可开始集字游戏;活动期间,每个用户每天有3次集字机会,分享给朋友或朋友圈,好友可帮集字1次(同一个好友只能助力1次，最高可获得100位好友助力);</p>
                <p>3、集齐"昌建沁源和"5个字,即可拆红包,共同瓜分50000（五万）元福利,红包可提现到微信零钱,每个用户只能领取一次,领完为止;</p>
                <p>4、集齐"昌建沁源和"1套5个字后,还可以重复集字,12月7日24时活动结束,集齐整套5字数量最高的前20名,可参加12月12日狂欢节,百人瓜分10万元活动;</p>
                <p>5、参与游戏时请填写个人真实信息,以便兑奖进行验证;</p>  -->
                <img src="../../../assets/modular/mobile/images/backgroundFinally.png" alt="">
            </div>

            <!-- 奖品页 -->
            <div class="area-box goods box_hide" v-show='flag==2'>
                <ul class="clerfix goods-list">
                    <li class="area clearfix" v-for="item in awardConfigList">
                        <div class="g-img">
                            <img :src="item.awardUrl">
                        </div>
                        <div class="g-info">
                            <h4>
                                <span style="float:left" v-text="item.awardName"></span>
                                <span style="float:right" v-on:click='duihuan(item.awardId)'>兑换</span>
                            </h4>
                            <div class="sj">
                                <span>集全:</span>
                                <ul class="clearfix" id="dhyq">
                                    <li v-for='(item2,ind) in item.list' v-if='ind < 5'>
                                        <img :src="item2.wordUrl">
                                        <i v-text="item2.needCount"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="i-footer" id="duihuanbtn_1" style="position: absolute;width: 60px;bottom: 10px;left: 10px;background: #FE300B;color: white;text-align: center;border-radius: 10px;padding: 3px;display: none"
                            onclick="lingqu('1')">
                            <span>点击兑换</span>
                        </div>
                        <!-- <div class="g-num">
                            <p class="sy">
                                <span v-text="'剩余:' +item.awardCount"></span>
                            </p>
                        </div> -->
                    </li>
                </ul>
            </div>

            <!-- 排行榜 -->
            <div class="area-box phb box_hide" v-show='flag==3'>
                <table class="phb-list clearfix">
                    <tbody>
                        <tr v-for='(item,index) in paiHangBang'>
                            <td class="num">
                                <div v-if="index==0 ||index==1||index==2">
                                    <img :src="imgSrcFun(index) ">
                                    <span>{{index+1}}</span>
                                </div>
                                <div v-else>
                                    <span style="position: static;padding: 4px 8px;background: #A1A09E;color: #fff;border-radius: 20px;">{{index+1}}</span>
                                </div>
                            </td>
                            <td class="touxi">
                                <img :src="item.picUrl">
                            </td>
                            <td class="userInfo">
                                <div class="user-xinxi">
                                    <span style="float:left;">{{item.nickName}}</span>
                                    <span style="float:right">{{item.num}}套</span>
                                    <div style="clear:both;"></div>
                                </div>
                                <div class="sj">
                                    <span style="font-size:.8em">已集:</span>
                                    <ul class="clearfix">
                                        <li>
                                            <img src="../../../assets/modular/mobile/images/chang.png">
                                            <i>{{item.rate0}}</i>
                                        </li>
                                        <li>
                                            <img src="../../../assets/modular/mobile/images/jian.png">
                                            <i>{{item.rate1}}</i>
                                        </li>
                                        <li>
                                            <img src="../../../assets/modular/mobile/images/qin.png">
                                            <i>{{item.rate2}}</i>
                                        </li>
                                        <li>
                                            <img src="../../../assets/modular/mobile/images/yuan.png">
                                            <i>{{item.rate3}}</i>
                                        </li>
                                        <li>
                                            <img src="../../../assets/modular/mobile/images/he.png">
                                            <i>{{item.rate4}}</i>
                                        </li>
                                        <!-- <li>
                                            <img src="../../../assets/modular/mobile/images/ti.png">
                                            <i>{{item.rate5}}</i>
                                        </li>
                                        <li>
                                            <img src="../../../assets/modular/mobile/images/yu.png">
                                            <i>{{item.rate6}}</i>
                                        </li>
                                        <li>
                                            <img src="../../../assets/modular/mobile/images/guan.png">
                                            <i>{{item.rate7}}</i>
                                        </li> -->
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr v-if='paiHangBang.length<1'>
                            <td colspan="3" style="textAlign:center;font-size:.8em">暂无数据</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- 奖品领取页 -->
            <div class="area-box hj-name box_hide" v-show='flag==4'>
                <table class="name-list clearfix" id="zj_list_table">
                    <tbody>
                        <tr>
                            <th class="textLeft">昵称</th>
                            <th>奖品</th>
                            <th class="textRight">时间</th>
                        </tr>
                        <tr v-for='item in hjData'>
                            <td class="textLeft" v-text='item.nickName'></td>
                            <td v-text='item.awardName'></td>
                            <td class="color textRight" v-text='item.createTime'></td>
                        </tr>
                        <tr v-if='hjData.length<1'>
                            <td colspan="3" style="textAlign:center">暂无数据</td>
                        </tr>

                    </tbody>
                </table>
                <!-- <div onclick="showGift()" style="width: 100%;text-align: center;font-weight: bold;font-size: 18px;">点击查看更多</div> -->
            </div>
        </section>

        <section id="add_bm" class="zoomIn box_hide" v-show='show'>
            <div class="baom" style="    margin: 50% auto 0;">
                <div class="baoming">
                    <h4>输入手机号和姓名参与活动</h4>
                    <input type="text" name="addxm" id="addxm" placeholder="填写姓名" v-model='obj.name' style="padding:0 5px;">
                    <input type="text" name="addtel" id="addtel" placeholder="填写手机号" maxlength="11" v-model='obj.phone' style="padding:0 5px;">
                </div>
                <div class="add_anniu id_add_lingqu" v-on:click="doSave">
                    <!-- <img src="../../../assets/modular/mobile/images/submitbtn.png" alt=""> -->

                </div>
                <div class="add_close id_add_close" v-on:click="close"></div>
            </div>
            <div class="bottom"></div>
        </section>
        <section id="add_bm" class="zoomIn box_hide" v-show='erWeiMaShow' style="zIndex:999">
            <div class="baom" style="background:none;">
                <div class="baoming closeDiv">
                    <img src="../../../assets/modular/mobile/images/erweima.png" alt="">
                </div>
                <div class="add_close id_add_close erWeiMaClose" v-on:click="close"></div>
            </div>
            <div class="bottom"></div>
        </section>


        <!-- 微信openId -->
        <input id="openId" type="hidden" name="openId" value="${openId}">
        <!-- 微信昵称 -->
        <input id="nickName" type="hidden" name="nickName" value="${nickName}">
        <!-- 微信头像Url -->
        <input id="picUrl" type="hidden" name="picUrl" value="${picUrl}">

    </div>
</body>
<script>
    var awardTemp;
    var locationUrl = location.href.split('#')[0];//当前页面url
    // 微信配置
    var appId;
    var timestamp;
    var nonceStr;
    var jsapi_ticket;
    var signature;
    var desc;
    var title;

    var app = new Vue({
        el: '#app',
        data: {
            data: [],
            openId: '', //用户的openId
            bgUrl: "",
            title: "沁源和狂欢节",
            sum: '1249',
            identityFlag: true,
            flag: '1',// tab 切换控制标识
            show: false,//控制 用户信息的显示和隐藏
            erWeiMaShow: false,//二维码显示和隐藏
            showResult: false, //集字结果的显示和隐藏
            showResultBgUrl: '',
            jiziFlag: '1',//1自己集字 2帮人集字 3获取集字信息
            musicFlag:true,//背景音乐的bofang
            obj: {
                "openId": '',//获取openId,唯一标识
                "picUrl": '',//获取微信头像
                "nickName": '',//获取微信昵称
                "name": '',
                "phone": '',
                "masterId": ''//助力人的 id
            },
            myGift: false,//我的奖品
            hasDoneData: [],
            jiziData: [],
            tabNav: ['活动介绍', '活动奖品', 'TOP20'],
            awardConfigList: [],
            leftover: '',//剩余兑换
            myGiftList: [],
            paiHangBang: [],
            hjData: []



        },
        created: function () {
            var that = this;
            document.title = that.title;
            that.getConfig();
            that.userCount();
            that.getAllPic();
            that.obj.masterId = that.getUrlParam('masterId') ? that.getUrlParam('masterId') : '';

            that.obj.openId = $("#openId").val();
            that.obj.nickName = $("#nickName").val();
            that.obj.picUrl = $("#picUrl").val();

            if (that.obj.masterId && (that.obj.masterId !== that.obj.openId)) {
                that.jiziFlag = 2;
            } else {
                that.jiziFlag = 1;
            }
            console.log(that.obj);


        },
        mounted() {
            var that = this;
            var audio = document.getElementById('audio');
            document.addEventListener("WeixinJSBridgeReady", function () {
                audio.play();
            }, false);


        },
        computed: {
            newName() {
                return this.erWeiMaShow;
            },
            // userInfo() {
            //     return this.show;
            // }

        },
        watch: {
            newName(val) {
                console.log(val);
                if (val) {
                 	// $("html").css("overflow-y", "hidden");
                    $("body").css({"overflow": "hidden"},{"height":" 100%"});
                } else {
                    // $("html").css("overflow-y", "auto");
                    $("body").css("overflow", "auto");
                }
            },
            // userInfo(val) {
            //     console.log(val);
            //     if (val) {
            //         $("html").css("overflow-y", "hidden");
            //         $("body").css("overflow-y", "hidden");
            //     } else {
            //         $("html").css("overflow-y", "scroll");
            //         $("body").css("overflow-y", "scroll");
            //     }
            // }
        },
        methods: {
            musicClick(){
                var that =this;
                var bgsound = document.getElementById('audio');
                if(that.musicFlag){
                    bgsound.pause();
                }else{
                    bgsound.play();
                }
                that.musicFlag=!that.musicFlag;
            },
           test(){
               var that =this;
               that.erWeiMaShow =true;
           },
            getConfig() {
                var that = this;
                var obj = {
                    "url": locationUrl
                }
                $.ajax({
                    type: "POST",
                    url: "${ctxPath}" + "/mobile/wx/getSDKConfig",
                    data: obj,
                    dataType: "json",
                    success: function (res) {
                        var appId = res.appId;
                        var timestamp = res.timestamp;
                        var nonceStr = res.nonceStr;
                        var jsapi_ticket = res.jsapi_ticket;
                        var signature = res.signature;
                        wx.config({
                            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                            appId: appId, // 必填，公众号的唯一标识
                            timestamp: timestamp, // 必填，生成签名的时间戳
                            nonceStr: nonceStr, // 必填，生成签名的随机串
                            signature: signature,// 必填，签名
                            jsApiList: [
                                'onMenuShareTimeline',  //分享到朋友圈
                                'onMenuShareAppMessage',//分享 给朋友
                            ] // 必填，需要使用的JS接口列表
                        });
                        that.backShow();

                    }
                });
            },
            backShow() {
                var that = this;
                $.ajax({
                    type: "get",
                    url: "${ctxPath}" + "/mobile/wx/backShow",
                    data: '',
                    dataType: "json",
                    success: function (res) {
                        if (res.code == 200) {
                            that.bgUrl = res.data.wxConfig.picUrl;
                            title = res.data.wxConfig.title;
                            document.title = title;
                            desc = res.data.wxConfig.wxDescribe;
                            wx.ready(function () {
                                var shareData = {
                                    title: title,
                                    desc: desc,
                                    link: "http://qyhjz.hnshengen.com/mobile/wx/index?masterId=" + that.obj.openId,
                                    imgUrl: "http://qyhjz.hnshengen.com/assets/modular/mobile/images/logo.png"
                                };
                                wx.onMenuShareAppMessage(shareData);//分享给好友
                                wx.onMenuShareTimeline(shareData);//分享到朋友圈
                                console.log('wx.ready')
                            })
                            // http://qyhjz.hnshengen.com/mobile/wx/skipIndex?openid=ogepp1AVWQtSuyyhLqrh3YoZ2ro8&access_token=27_JwRsWtP_Rnhai0QH7dzksqadrfTXENWheFDNnywceQxUkvfj8__qWH6LKzXRBHc7R-H5Vgem5V3Cf6MbsJS6qQ
                            wx.error(function (res) {
                                //alert(res.errMsg);//错误提示

                            });

                        }
                    }
                });
            },
            userCount() {
                var that = this;
                $.ajax({
                    type: "POST",
                    url: "${ctxPath}" + "/mobile/wx/userCount",
                    data: '',
                    dataType: "json",
                    success: function (res) {
                        if (res.code == 200) {
                            that.sum = res.data;
                        } else {
                            $.alert("获取失败!", "提示", function () {
                            });
                        }
                    }
                });
            },
            userReceive() {
                var that = this;
                $.ajax({
                    type: "POST",
                    url: "${ctxPath}" + "/mobile/wx/userReceive",
                    data: '',
                    dataType: "json",
                    success: function (res) {
                        if (res.code == 200) {
                            that.hjData = res.data;
                        } else {
                            $.alert("获取失败!", "提示", function () {
                            });
                        }
                    }
                });
            },
            myGiftShow() {
                var that = this;
                var obj = {
                    "openId": that.obj.openId
                }
                $.ajax({
                    type: "POST",
                    url: "${ctxPath}" + "/mobile/wx/userAward",
                    data: obj,
                    dataType: "json",
                    success: function (res) {
                        if (res.code == 200) {
                            that.myGiftList = res.data;
                            that.myGift = true;
                        } else {
                            $.alert("获取失败!", "提示", function () {
                            });
                        }
                    }
                });

            },
            closeMyGifg() {
                var that = this;
                that.myGift = false;
            },
            getSort() {
                var that = this;
                $.ajax({
                    type: "POST",
                    url: "${ctxPath}" + "/mobile/wx/rankingList",
                    data: '',
                    dataType: "json",
                    success: function (res) {
                        if (res.code == 200) {
                            that.paiHangBang = res.data;
                        } else {
                            $.alert("获取失败!", "提示", function () {
                            });
                        }
                    }
                });
            },
            awardConfig() {
                var that = this;
                $.ajax({
                    type: "POST",
                    url: "${ctxPath}" + "/mobile/wx/awardConfig",
                    data: '',
                    dataType: "json",
                    success: function (res) {
                        var result = [];
                        if (res.code == 200) {
                            for (var i = 0; i < res.data.length; i++) {
                                awardTemp[i].needCount = 0;
                                var obj = {
                                    "list": awardTemp
                                };

                                var str = res.data[i].award_require;
                                var tempArr = str.split(",");
                                obj.awardName = res.data[i].award_name;
                                obj.awardLevel = res.data[i].award_level;
                                obj.awardUrl = res.data[i].award_url;
                                obj.awardId = res.data[i].award_id;
                                obj.awardCount = res.data[i].awardCount;
                                for (var j = 0; j < tempArr.length; j++) {
                                    obj.list[j].needCount = tempArr[j];
                                }
                                console.log(obj)
                                result.push(obj);
                            }
                            that.awardConfigList = result;
                            console.log(that.awardConfigList)
                        } else {
                            $.alert("获取失败!", "提示", function () {
                            });
                        }
                    }
                });
            },
            duihuan(awardId) {//兑换奖品
                console.log(awardId)
                var that = this;
                var obj = {
                    "openId": that.obj.openId,
                    "awardId": awardId
                }
                $.ajax({
                    url: "${ctxPath}" + "/mobile/wx/receive",
                    data: obj,
                    dataType: "json",
                    type: "post",
                    timeout: 10000,
                    beforeSend: function () {
                        $.showLoading('数据提交中');
                    },
                    error: function () {
                        setTimeout(() => {
                            $.hideLoading();
                            $.toast.prototype.defaults.duration = 1000;//1秒
                            $.toast("兑换失败", 'text');
                        }, 1000);
                    },
                    success: function (data) {
                        $.hideLoading();
                        if (data.code == 200) {
                            // $.toast('兑换成功', function () {
                            //     window.location.reload();
                            // });
                            that.erWeiMaShow = true;
                        } else {
                            $.toast.prototype.defaults.duration = 1000;//1秒
                            $.toast(data.message, 'text');
                        }
                    }
                })
            },
            close() {
                var that = this;
                that.show = false;
                that.erWeiMaShow = false;
            },
            initData() {
                var that = this;
                var obj = {
                    "openId": that.obj.openId
                }
                $.ajax({
                    type: "POST",
                    url: "${ctxPath}" + "/mobile/wx/result",
                    data: obj,
                    dataType: "json",
                    success: function (res) {
                        if (res.code == 200) {
                            for (var i = 0; i < that.jiziData.length; i++) {
                                that.jiziData[i].num = res.data["rate" + i];
                            }
                        } else {
                            $.alert("获取失败!", "提示", function () {
                            });
                        }
                    }
                });
            },
            getAllPic() {
                var that = this;
                $.ajax({
                    type: "GET",
                    url: "${ctxPath}" + "/mobile/wx/findAllWord",
                    data: '',
                    dataType: "json",
                    success: function (res) {

                        if (res.code == 200) {
                            that.bgUrl = res.data.background;
                            for (var i = 0; i < res.data.words.length; i++) {
                                res.data.words[i].num = '';
                            }
                            that.jiziData = res.data.words;
                            awardTemp = res.data.words;
                            that.initData();
                        } else {
                            $.alert("获取失败!", "提示", function () {
                            });
                        }
                    }
                });
            },
            share() {
                var that = this;
                $.toast("分享成功", function () {
                    that.jiziFlag = 1;
                    that.showResult = false;
                });
            },
            closeAlert() {
                var that = this;
                that.showResult = false;
                console.log('1')
                that.initData();
            },
            sure() {
                var that = this;
                that.show = true;
                console.log(obj);
                $.ajax({
                    type: "POST",
                    url: "${ctxPath}" + "/mobile/wx/verify",
                    data: obj,
                    dataType: "json",
                    success: function (res) {
                        if (res.code == 200) {
                            // 自己集字且身份已通过验证
                            that.getRandom();

                        } else if (res.code == 201) {
                            // 填写信息 //自己集资 未通过验证
                            that.show = true;
                        } else {
                            $.alert(res.message, "提示", function () {

                            });
                        }

                    }
                });
            },
            tabChange(i) {
                var that = this;
                that.flag = i + 1;
                console.log(that.flag);
                if (that.flag == 2) {
                    that.awardConfig();
                } else if (that.flag == 3) {
                    that.getSort();
                } else if (that.flag == 4) {
                    that.userReceive();
                }
            },
            jiziClick() {
                var that = this;
                if (that.jiziFlag == 1) {
                    // if (that.identityFlag) {//自己集字且身份已通过验证
                    //     that.showResult = true;
                    // } else {//自己集资 身份为通过验证
                    //     that.show = true;
                    // }
                    that.verify();

                } else if (that.jiziFlag == 2) {
                    that.getRandom();
                    that.jiziFlag = 1;
                    // $.toast("助力成功", function () {
                    //     // $.alert("点我要集字开始集字", "消息提示", function () {
                    //     that.jiziFlag = 1;
                    //     // });
                    // });
                } else {
                    that.showResult = true;
                }
            },
            verify() {
                var that = this;
                var obj = {
                    "openId": that.obj.openId,//微信openId
                    "picUrl": that.obj.picUrl,//微信头像
                    "nickName": that.obj.nickName//微信昵称
                }
                $.ajax({
                    type: "POST",
                    url: "${ctxPath}" + "/mobile/wx/verify",
                    data: obj,
                    dataType: "json",
                    success: function (res) {
                        console.log('verify')
                        if (res.code == 200) {
                            // 自己集字且身份已通过验证
                            that.getRandom();


                        } else if (res.code == 201) {
                            // 填写信息 //自己集资 未通过验证
                            that.show = true;
                        } else {
                            $.alert(res.message, "提示", function () {

                            });
                        }

                    }
                });
            },
            getRandom() {
                var that = this;
                var obj;
                console.log('getRandom')
                if (that.jiziFlag == 1) {
                    obj = {
                        "masterId": that.obj.openId
                    }
                } else {
                    obj = {
                        "helpId": that.obj.openId,
                        "masterId": that.obj.masterId
                    }
                }

                $.ajax({
                    type: "POST",
                    url: "${ctxPath}" + "/mobile/wx/mathRandom",
                    data: obj,
                    dataType: "json",
                    success: function (res) {
                        var index = res.data;
                        if (res.code == 200) {
                            // 集字
                            that.showResult = true;
                            console.log(that.jiziData[index].wordUrl);
                            that.showResultBgUrl = that.jiziData[index].wordUrl;
                        } else {
                            $.alert(res.message, "提示", function () {
                            });
                        }

                    }
                });
            },


            // 当前时间 和结束时间的比较
            timeCheck() {
                var that = this;
                //得到日期值并转化成日期格式，replace(//-/g, "//")是根据验证表达式把日期转化成长日期格式，这样

                //再进行判断就好判断了
                var sDate = new Date(that.currentTime.replace(/-/g, "//"));
                var eDate = new Date(that.closeTime.replace(/-/g, "//"));
                if (sDate > eDate) {
                    $.alert("该活动已结束!", "提示", function () {
                    });
                    return false;
                } else {
                    $("#regpage,#mask").show();
                }

            },
            doSave() {
                var that = this;
                if (!(/^1[3456789]\d{9}$/.test(that.obj.phone))) {
                    $.toast.prototype.defaults.duration = 1000;//1秒
                    $.toast("手机号有误!请检查", 'text');
                    return false;
                }
                that.show = false;
                console.log(that.obj);
                // setTimeout(() => {
                // that.cancel();
                // }, 5000);
                $.ajax({
                    type: "POST",
                    url: "${ctxPath}" + "/mobile/wx/save",
                    data: that.obj,
                    dataType: "json",
                    success: function (res) {
                        if (res.code == 200) {
                            $.alert("提交成功", "提示", function () {
                            });
                        } else {
                            that.cancel();
                            setTimeout(function () {
                                $.alert(res.message, "提示", function () {
                                });
                            }, 300);
                        }
                    }
                });


            },
            cancel() {
                var that = this;
                that.show = false;
                that.obj.name = '';
                that.obj.phone = '';
            },
            imgSrcFun(value) {
                if (value == 1 || value == 2 || value == 0) {
                    return "../../../assets/modular/mobile/images/jiangb.png";
                }
            },
            getUrlParam(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                var r = window.location.search.substr(1).match(reg);
                if (r != null) return unescape(r[2]); return null;
            }
        }

    })
</script>

</html>