/*# sourceURL=/nagelanjifu_kh_aly/Public/Css/index.css?v=3 */

        /*@ sourceURL=/nagelanjifu_kh_aly/Public/Css/index.css?v=3 */

        body {
            background: #D42012;
        }

        #add_header {
            position: relative;
            width: 100%;
        }

        #add_header img {
            width: 100%;
        }

        #add_header .avtivity-time {
            position: absolute;
            top: 50%;
            width: 100%;
            left: 0;
            text-align: center;
        }

        #add_header .avtivity-time h4 span {
            display: inline-block;
            padding: 0 8px;
            border-radius: 12.5px;
            -webkit-border-radius: 12.5px;
            -moz-border-radius: 12.5px;
            -ms-border-radius: 12.5px;
            -o-border-radius: 12.5px;
            line-height: 25px;
            height: 25px;
            background: rgba(0, 0, 0, .2);
            color: #fff;
            font-weight: 400;
            font-size: .9em;
        }

        #add_header .avtivity-time .down-time {
            margin: 10px 0;
            font-size: .9em;
            color: #fff;
            line-height: 25px;
            height: 25px;
        }

        #add_header .avtivity-time .down-time span {
            padding: 0 4px;
            background: rgba(0, 0, 0, .2);
            margin-right: 4px;
            min-width: 20px;
            height: 18px;
        }

        #add_header .avtivity-time h5 {
            color: #FCEB57;
            font-weight: 400;
        }

        #add_header .join {
            font-weight: 600;
            position: absolute;
            bottom: 5px;
            height: 30px;
            background: #FCEB57;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            line-height: 30px;
            color: #d42012;
            width: 160px;
            margin: 0 auto;
            left: 50%;
            margin-left: -80px;
            text-align: center;
        }

        #total_bar .active-list {
            height: 40px;
            background: #FBE8D7;
            width: 100%;
            margin-top: 10px;
        }

        #total_bar .active-list li {
            color: #fff;
            font-size: .9em;
            text-align: center;
            width: 33.33%;
            float: left;
            height: 30px;
            line-height: 30px;
            background: #D42012 ;
            background-size: 100% 30px;
        }

        #total_bar .active-list .on {
            font-weight: 600;
            color: #d42012;
            background: #d42012 url("../images/biaoh.png")no-repeat center;
            background-size: 100% 100%;
        }

        #total_bar .area-box {
            background: #FBE8D7;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -o-box-sizing: border-box;
            padding: 5px 10px 20px;
        }

        #total_bar .hj-rule {
            width: 100%;
            font-size: .8em;
        }

        #total_bar .hj-rule img {
            width: 100%;
        }

        #total_bar .goods {
            padding-left: 0;
            padding-right: 0;
        }

        #total_bar .goods .goods-list .area {
            margin-bottom: 10px;
            /*background:url("http://kh.bjganai.cn/nagelanjifu_kh_aly/Public/Css/jiangpdise.png")no-repeat center; background-size:100% 80px;*/
            background: #fff;
            padding: 5px 10px;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -o-box-sizing: border-box;
        }

        #total_bar .goods .goods-list li .g-img {
            width: 60px;
            height: 60px;
            float: left;
        }

        #total_bar .goods .goods-list li .g-img img {
            width: 100%;
            height: 100%;
        }

        #total_bar .goods .goods-list li .g-info {
            float: left;
            margin-left: 5px;
        }

        #total_bar .goods .goods-list li .g-info h4 {
            height: 25px;
            line-height: 25px;
            color: #FE300B;
            font-size: .9em;
        }

        #total_bar .goods .goods-list li .g-info .sj {
            line-height: 30px;
        }

        #total_bar .goods .goods-list li .g-info .sj ul {
            display: inline-block;
            vertical-align: text-bottom;
        }

        #total_bar .goods .goods-list li .g-info .sj ul li {
            height: 28px;
            width: 30px;
            position: relative;
            float: left;
        }

        #total_bar .goods .goods-list li .g-info .sj ul li img {
            vertical-align: inherit;
            width: 28px;
            height: 28px;
        }

        #total_bar .goods .goods-list li .g-info .sj ul li .border {
            position: absolute;
            top: 0;
            z-index: 5;
            left: 0;
        }

        #total_bar .goods .goods-list li .g-info .sj ul li i {
            position: absolute;
            z-index: 10;
            top: -4px;
            right: -1px;
            min-width: 14px;
            height: 14px;
            padding: 2px 2px;
            line-height: 14px;
            border-radius: 9px;
            -wekit-border-radius: 9px;
            -moz-border-radius: 9px;
            -ms-border-radius: 9px;
            -o-border-radius: 9px;
            transform: scale(.8);
            -moz-transform: scale(.8);
            -ms-transform: scale(.8);
            -o-transform: scale(.8);
            -wekit-transform: scale(.8);
            text-align: center;
            color: #fff;
            font-size: .9em;
            background: #FE300B;
        }

        #total_bar .goods .goods-list li .g-num {
            float: right;
            margin-top: 0px;
            line-height: 20px;
            font-size: .8em;
        }

        #total_bar .goods .goods-list li .g-num p span {
            color: #FE300B;
        }

        #total_bar .phb .phb-list {
            width: 100%;
            background: none;
        }

        #total_bar .phb .phb-list tr {
            border-bottom: 1px solid #FBA5B2;
            height: 80px;
        }

        #total_bar .phb .phb-list .num {
            width: 30px;
            height: 40px;
            text-align: center;
            color: #d42012;
            position: relative;
        }

        #total_bar .phb .phb-list .num img {
            width: 30px;
            height: 40px;
        }

        #total_bar .phb .phb-list .num span {
            position: absolute;
            left: 50%;
            margin-left: -4px;
            top: 50%;
            margin-top: -18px;
            font-weight: 600;
            font-size: .8em;
        }

        #total_bar .phb .phb-list .active .num span {
            position: static;
            padding: 4px 8px;
            background: #A1A09E;
            color: #fff;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
        }

        #total_bar .phb .phb-list .touxi {
            text-align: center;
            width: 70px;
            height: 70px;
        }
        #total_bar .phb .phb-list .userInfo {
             padding: 5px 7px;
        }

        #total_bar .phb .phb-list .touxi img {
            width: 60px;
            height: 60px;
            border-radius: 30px;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            -ms-border-radius: 30px;
            -o-border-radius: 30px;
        }

        #total_bar .phb .phb-list .user-xinxi span {
            line-height: 25px;
            height: 25px;
            font-size: .8em;
        }

        #total_bar .phb .phb-list .user-xinxi .fx {
            font-size: .9em;
            float: right;
            padding-left: 20px;
            background: url("../images/fenxiangbiao.png")no-repeat left center;
            background-size: 20px auto;
            color: #FE300B;
        }

        #total_bar .phb .phb-list .sj {
            height: 30px;
            line-height: 30px;
        }

        #total_bar .phb .phb-list .sj ul {
            display: inline-block;
        }

        #total_bar .phb .phb-list .sj ul li {
            width: 32px;
            height: 24px;
            position: relative;
            float: left;
        }

        #total_bar .phb .phb-list .sj ul li img {
            width: 28px;
            height: 28px;
            vertical-align: inherit;
        }

        #total_bar .phb .phb-list .sj ul li .border {
            position: absolute;
            top: 0;
            z-index: 5;
            left: 0;
        }

        #total_bar .phb .phb-list .sj ul li i {
            z-index: 10;
            position: absolute;
            top: -7px;
            right: -1px;
            padding: 2px 2px;
            min-width: 14px;
            height: 14px;
            line-height: 14px;
            border-radius: 9px;
            -wekit-border-radius: 9px;
            -moz-border-radius: 9px;
            -ms-border-radius: 9px;
            -o-border-radius: 9px;
            transform: scale(.8);
            -moz-transform: scale(.8);
            -ms-transform: scale(.8);
            -o-transform: scale(.8);
            -wekit-transform: scale(.8);
            text-align: center;
            color: #fff;
            font-size: .9em;
            background: #FE300B;
        }

        #total_bar .hj-name table {
            width: 100%;
            padding: 0px 10px;
            box-sizing: border-box;
            background: #FBE8D7;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -o-box-sizing: border-box;
        }

        #total_bar .hj-name .name-list tr {
            line-height: 30px;
        }

        #total_bar .hj-name .name-list tr th {
            text-align: center;
            padding: 0 5px;
        }

        #total_bar .hj-name .name-list tr td {
            text-align: center;
            padding: 0 5px;
        }
        .clearfix .textLeft{
            text-align: left;
            width: 100px;
        }
        #total_bar .hj-name .name-list tr .textLeft{
            text-align: left;
            width: 140px;
        }
        

        #total_bar .hj-name .name-list tr .textRight ,.clearfix .textRight{
            text-align: right;
        }

        #total_bar .hj-name .name-list tr .color {
            color: #d42012;
        }

        #add_bm {
            z-index: 11;
            position: fixed;
            background: rgba(0, 0, 0, .7);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        #add_bm .baom {
            position: relative;
            width: 280px;
            margin: 30% auto 0;
            /* background: url("../images/biaoh.png") no-repeat; */
            background: white;
            background-size: 100% auto;
            border-radius: 5px;
        }

        #add_bm .baom .baoming {
            /* background: url("../images/tanchuk1.png")no-repeat top; */
            background-size: 100% auto;
            padding: 20px 15px 5px;
        }

        #add_bm .baom .baoming h4 {
            line-height: 30px;
            color: #A19D95;
            font-weight: 400;
            font-size: .9em;
        }

        #add_bm .baom .baoming input {
            height: 30px;
            line-height: 30px;
            margin-bottom: 10px;
            width: 100%;
            background: #FFECC9;
            border: 1px solid #CBBEA6;
            border-radius: 6px;
            
        }

        #add_bm .baom .add_anniu {
            margin: 0 auto;
            height: 50px;
            width: 140px;
            line-height: 30px;
            text-align: center;
            color: red;
            padding-bottom: 10px;
            background: url("../images/submitbtn.png")no-repeat center;
            background-size: cover;
        }

        #add_bm .baom .add_close {
            position: absolute;
            top: 12px;
            right: 12px;
            width: 24px;
            height: 24px;
            background: url("../images/guanbi.png")no-repeat center;
            background-size: 100% 100%;
        }

        #add_bm .bottom {
            width: 280px;
            margin: 0 auto;
            height: 20px;
            /* background: url("../images/tanchuk3.png")no-repeat center bottom; */
            background-size: 100% auto;
        }


        /************************************** index *********************************************/

        #index_header {
            position: relative;
        }

        #index_header img {
            width: 100%;
        }

        #index_header .header-bar {
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
            width: 100%;
        }

        #index_header .header-bar h2 {
            margin-top: 15%;
            font-size: 1.2em;
            text-shadow: 0 0 6px #000;
            color: #FEFB60;
            font-weight: 400;
        }

        #index_header .header-bar h3 {
            color: #FEFB60;
            font-size: .8em;
            line-height: 30px;
            font-weight: 400;
            margin-top: 5px;
        }

        #index_header .header-bar .help {
            /* padding: 5px 0; */
            margin: 80% 0 0 0;
        }

        #index_header .header-bar .help h4 {
            font-weight: 400;
        }

        #index_header .header-bar .help h4 img {
            position: relative;
            top: -2px;
            vertical-align: top;
            width: 30px;
            height: 30px;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
            margin-right: 10px;
        }

        #index_header .header-bar .help h4 span {
            text-align: left;
            padding: 0 10px;
            line-height: 25px;
            display: inline-block;
            max-width: 230px;
            color: #fff;
            font-size: .9em;
            background: rgba(0, 0, 0, .3);
            border-radius: 12.5px;
            -webkit-border-radius: 12.5px;
            -moz-border-radius: 12.5px;
            -ms-border-radius: 12.5px;
            -o-border-radius: 12.5px;
        }

        #index_header .header-bar .help .bang {
            padding:6% 20%;
            text-align: center;
        }

        #index_header .header-bar .help .bang .dian {
            position: relative;
            width: 100px;
            height: 100px;
            margin: 0 auto;
            /* background: url("../images/bangtajizi.png")no-repeat center; */
            background-size: 100px 100px;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
        }

        #index_header .header-bar .help .bang #bangdian {
            position: relative;
            width: 100px;
            height: 100px;
            margin: 0 auto;
            background: url("../images/jitu.png")no-repeat center;
            background-size: 100px 100px;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
        }

        #index_header .header-bar .help .bang #canjia {
            position: relative;
            width: 100px;
            height: 100px;
            margin: 0 auto;
            background: url("../images/woyaobaoming.png")no-repeat center;
            background-size: 100px 100px;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
        }

        #index_header .header-bar .help .bang img {
            width: 100px;
            height: 100px;
        }

        #dian .dise {
            width: 100px;
            height: 100px;
            background: transparent;
            position: absolute;
            left: 0;
            right: 0;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%;
        }

        #bangdian .dise {
            width: 100px;
            height: 100px;
            background: transparent;
            position: absolute;
            left: 0;
            right: 0;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%;
        }

        .click {
            width: 100px;
            height: 100px;
            background: transparent;
            position: absolute;
            left: 0;
            right: 0;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%;
        }

        #index_header .jizi-bar {
            position: absolute;
            bottom: 20px;
            width: 100%;
        }

        #index_header .jizi-bar ul li {
            width: 20%;
            height: 50px;
            float: left;
        }

        #index_header .jizi-bar ul li .area {
            width: 50px;
            margin: 0 auto;
            position: relative;
        }

        #index_header .jizi-bar ul li .area img {
            width: 50px;
            height: 50px;
        }

        #index_header .jizi-bar ul li .area .border {
            position: absolute;
            top: 0;
            left: 0;
        }

        #index_header .jizi-bar ul li .area i {
            z-index: 10;
            position: absolute;
            top: -8px;
            right: -5px;
            display: inline-block;
            font-size: .7em;
            min-width: 12px;
            height: 12px;
            border: 1px solid #fff;
            padding: 2px;
            text-align: center;
            line-height: 12px;
            color: #fff;
            background: #FE300B;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
        }

        #index_prize {
            padding: 5px 10px;
        }

        #index_prize h3 {
            height: 30px;
            line-height: 30px;
            color: #fff;
            font-size: 1em;
            font-weight: 400;
        }

        #index_prize .prize {
            border: 2px solid #FE300B;
            background: #FBE8D7;
            padding: 10px 10px 0;
            border-radius: 6px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
        }

        #index_prize .prize .area-box {
            margin-bottom: 10px;
        }

        #index_prize .prize .area-box .pic {
            float: left;
            width: 40px;
            height: 40px;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            overflow: hidden;
            border: 1px solid #FE300B;
            margin-right: 15px;
        }

        #index_prize .prize .area-box .pic img {
            width: 100%;
            height: 100%;
            border-radius: 4px;
        }

        #index_prize .prize .area-box .xinxi {
            float: left;
        }

        #index_prize .prize .area-box .xinxi h5 {
            height: 35px;
            line-height: 35px;
            color: #FE300B;
            font-size: 1em;
        }

        #index_prize .prize .area-box .xinxi p {
            line-height: 20px;
            font-size: .8em;
            color: #656565;
        }

        #index_prize .prize .area-box .duihuan {
            width: 60px;
            float: right;
            height: 25px;
            background: #F54140;
            text-align: center;
            line-height: 25px;
            color: #fff;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radisu: 4px;
            font-size: .8em;
            margin-top: 10px;
        }

        #index_prize .prize .area-box .yiduihuan {
            width: 60px;
            float: right;
            height: 25px;
            background: #B9B9B9;
            text-align: center;
            line-height: 25px;
            color: #5B5B5B;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radisu: 4px;
            font-size: .8em;
            margin-top: 10px;
        }

        #index_header .hao-bar {
            position: absolute;
            z-index: 5;
            top: 30%;
            left: 50%;
            margin-left: -100px;
            width: 200px;
        }

        #index_header .hao-bar img {
            width: 200px;
        }

        #index_header .hao-bar .hao {
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
            width: 200px;
        }

        #index_header .hao-bar .hao h4 {
            margin-top: 5px;
            /* background: url("../images/biaoti.png")no-repeat center; */
            background-size: 120px 30px;
            color: #FEFB60;
            height: 30px;
            line-height: 30px;
        }

        #index_header .hao-bar .hao .pic {
            overflow: hidden;
            padding: 8px;
            border: 1px solid #FE300B;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%;
            width: 110px;
            height: 110px;
            margin: 10px auto;
            background-size: 72%;
            background-position: 50% 50%;
            background-repeat: no-repeat;
        }

        #index_header .hao-bar .hao .pic img {
            width: 110px;
            height: 110px;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%;
            overflow: hidden;
        }

        #index_header .hao-bar .hao .user {
            margin-top: 15px;
            font-size: .8em;
            text-align: center;
            overflow: hidden;
            height: 32px;
            line-height: 16px;
        }

        #index_header .hao-bar .hao .user span {
            color: #FE300B;
        }

        #index_header .hao-bar .hao .give {
            line-height: 30px;
            height: 30px;
            width: 140px;
            margin: 30px auto 0;
            padding: 3px 0 3px;
            background: #FB5142;
            color: #FEFB60;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
        }

        #index_header .hao-bar .hao .give a {
            color: #FEFB60;
        }

        #index_header .hao-bar .hao_close {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 30px;
            height: 30px;
            background: url("../images/guanbi.png")no-repeat center;
            background-size: 25px 25px;
        }

        #index_header .hao-bar .chouhao_close {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 30px;
            height: 30px;
            background: url("../images/guanbi.png")no-repeat center;
            background-size: 25px 25px;
        }

        #index_header .hao-bar .red-pic {
            width: 140px;
            height: 140px;
            margin: 5px auto;
        }

        #index_header .hao-bar .red-pic .red-t {
            width: 140px;
            text-align: center;
            height: 75px;
            background: url("../images/hongbbh.png")no-repeat top center;
            background-size: 140px 80px;
        }

        #index_header .hao-bar .red-pic .red-t .jizhi {
            transform: rotate(-7deg);
            margin: 0 auto;
            position: relative;
            top: 10px;
            width: 110px;
            height: 110px;
            background: url("../images/hongbnei.png")no-repeat center;
            background-size: 100% 100%;
        }

        #index_header .hao-bar .red-pic .red-t .jizhi img {
            position: relative;
            left: -1px;
            border: 1px solid #FECC4E;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            width: 95px;
            height: 95px;
            margin-top: 5px;
        }

        #index_header .hao-bar .red-pic .red-b {
            height: 85px;
            width: 140px;
            position: relative;
            top: -20px;
        }

        #index_header .hao-bar .red-pic .red-b img {
            width: 140px;
            height: 85px;
        }

        #index_header .hao-bar .red-pic .red-b span {
            position: absolute;
            top: 30px;
            width: 100%;
            left: 0;
            color: #fff;
        }

        #index_header .hao-bar .hao .no-pic {
            font-size: .8em;
            line-height: 20px;
            margin: 35px auto 8px;
            width: 150px;
            height: 130px;
            padding-top: 20px;
            color: #FFD06A;
            background: url("../images/shib.png")no-repeat center;
            background-size: 150px 150px;
        }

        #duihuan {
            z-index: 11;
            width: 100%;
            height: 100%;
            position: fixed;
            background: rgba(0, 0, 0, .5);
            top: 0;
            left: 0;
        }

        #duihuan .duihuan-bar {
            width: 280px;
            background: url("../images/tanchuk2.png")repeat-y center;
            background-size: 100% auto;
            margin: 15% auto;
        }

        #duihuan .duihuan-bar .top {
            position: relative;
            /* background: url("../images/tanchuk1.png")no-repeat top center; */
            background-size: 100% auto;
            width: 100%;
            padding: 20px 15px 0;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -o-box-sizing: border-box;
        }

        #duihuan .duihuan-bar .top h4 {
            font-size: .9em;
            color: #A59A87;
            font-weight: 400;
        }

        #duihuan .duihuan-bar input {
            width: 100%;
            background: #FFECC9;
            height: 30px;
            border: 1px solid #a59a87;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            margin: 10px 0 15px;
        }

        #duihuan .duihuan-bar .anniu_duihuan {
            color: #fff;
            width: 120px;
            /* background: url("../images/baom.png")no-repeat center; */
            background-size: 120px 30px;
            width: 140px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            margin: 0 auto;
        }

        #duihuan .duihuan-bar .bottom {
            width: 100%;
            height: 25px;
            /* background: url("../images/tanchuk3.png")no-repeat bottom center; */
            background-size: 100% auto;
        }

        #duihuan .duihuan-bar .top .close_duihuan {
            width: 24px;
            height: 24px;
            top: 12px;
            right: 12px;
            background: url("../images/guanb.png")no-repeat center;
            background-size: 100% 100%;
            position: absolute;
        }

        #goods {
            z-index: 11;
            width: 100%;
            height: 100%;
            position: fixed;
            background: rgba(0, 0, 0, .5);
            top: 0;
            left: 0;
        }

        #goods .goods-bar {
            position: relative;
            width: 280px;
            margin: 10% auto 0;
            background: url("../images/tanchuk2.png")repeat-y center;
            background-size: 100% auto;
        }

        #goods .goods-bar .porpmt {
            padding: 20px 15px 0;
            /* background: url("../images/tanchuk1.png")no-repeat top center; */
            background-size: 100% auto;
        }

        #goods .goods-bar .porpmt .logo .pic {
            border: 1px solid #d42012;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            height: 50px;
            width: 50px;
            float: left;
        }

        #goods .goods-bar .porpmt .logo .pic img {
            width: 50px;
            height: 50px;
        }

        #goods .goods-bar .porpmt .logo .num {
            float: left;
            margin-left: 20px;
            font-size: .7em;
            line-height: 20px;
            margin-top: 5px;
        }

        #goods .goods-bar .porpmt .logo .num span {
            color: #d42012;
        }

        #goods .goods-bar .porpmt h3 {
            font-weight: 600;
            font-size: 1em;
            color: #d42012;
            height: 30px;
            line-height: 30px;
        }

        #goods .goods-bar .porpmt .content {
            border: 1px solid #ccc;
            max-height: 300px;
            overflow: scroll;
            font-size: .8em;
            line-height: 20px;
        }

        #goods .goods-bar .porpmt .content img {
            width: 100%;
        }

        #goods .goods-bar .bottom {
            /* background: url("../images/tanchuk3.png")no-repeat bottom center; */
            background-size: 100% auto;
            height: 25px;
            width: 100%;
        }

        #goods .goods-bar .close_goods {
            position: absolute;
            top: 12px;
            right: 12px;
            width: 24px;
            height: 24px;
            background: url("../images/guanb.png")no-repeat center;
            background-size: 100% 100%;
        }

        #dian .dise {
            animation: sploosh 4s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
        }

        #bangdian .dise {
            animation: sploosh 4s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
        }

        #dian .click {
            animation: sploosh 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
        }

        #bangdian .click {
            animation: sploosh 3s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
        }

        @keyframes sploosh {
            0% {
                box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.7);
            }
            100% {
                box-shadow: 0 0 0 70px rgba(255, 255, 255, 0);
            }
        }

        .gray {
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            -o-filter: grayscale(100%);

            filter: grayscale(100%);

            filter: gray;
        }

        .more_list_btn {
            width: 150px;
            height: 30px;
            line-height: 30px;
            margin-left: auto;
            margin-right: auto;
            background-color: #ce2f39;
            text-align: center;
            margin-top: 10px;
            border-radius: 5px;
            color: #FFF;
        }

        .banquan_txt {
            width: 100%;
            height: 30px;
            line-height: 30px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-top: 10px;
            padding-bottom: 10px;
            color: #FFF;
        }

        #guanzu {
            z-index: 11;
            width: 100%;
            height: 100%;
            position: fixed;
            background: rgba(0, 0, 0, .5);
            top: 0;
            left: 0;
        }

        #guanzu .guanzu-bar {
            width: 280px;
            background: url("../images/tanchuk2.png")repeat-y center;
            background-size: 100% auto;
            margin: 15% auto;
        }

        #guanzu .guanzu-bar .top {
            position: relative;
            /* background: url("../images/tanchuk1.png")no-repeat top center; */
            background-size: 100% auto;
            width: 100%;
            padding: 20px 15px 0;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -o-box-sizing: border-box;
        }

        #guanzu .guanzu-bar .top h4 {
            text-align: center;
            font-size: 1.1em;
            color: #bb112b;
            font-weight: 500;
        }

        #guanzu .guanzu-bar img {
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 10px;
            margin-bottom: 5px;
        }

        #guanzu .guanzu-bar p {
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 0px;
            margin-bottom: 5px;
        }

        #guanzu .guanzu-bar .anniu_guanzu {
            color: #fff;
            width: 120px;
            /* background: url("../images/baom.png")no-repeat center; */
            background-size: 120px 30px;
            width: 140px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            margin: 0 auto;
        }

        #guanzu .guanzu-bar .anniu_guanzu a {
            color: #fff;
        }

        #guanzu .guanzu-bar .bottom {
            width: 100%;
            height: 25px;
            /* background: url("../images/tanchuk3.png")no-repeat bottom center; */
            background-size: 100% auto;
        }

        #guanzu .guanzu-bar .top .close_guanzu {
            width: 24px;
            height: 24px;
            top: 12px;
            right: 12px;
            background: url("../images/guanb.png")no-repeat center;
            background-size: 100% 100%;
            position: absolute;
        }

        #index_header .jizi-bar-more {
            position: absolute;
            bottom: 45px;
            width: 100%;
        }

        #index_header .jizi-bar-more ul li {
            width: 20%;
            height: 40px;
            float: left;
            margin-top: 10px
        }

        #index_header .jizi-bar-more ul li .area {
            width: 40px;
            margin: 0 auto;
            position: relative;
        }

        #index_header .jizi-bar-more ul li .area img {
            width: 40px;
            height: 40px;
        }

        #index_header .jizi-bar-more ul li .area .border {
            position: absolute;
            top: 0;
            left: 0;
        }

        #index_header .jizi-bar-more ul li .area i {
            z-index: 10;
            position: absolute;
            top: -8px;
            right: -5px;
            display: inline-block;
            font-size: .7em;
            min-width: 12px;
            height: 12px;
            border: 1px solid #fff;
            padding: 2px;
            text-align: center;
            line-height: 12px;
            color: #fff;
            background: #FE300B;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
        }

        #total_bar .goods .goods-list li {
            position: relative;
        }

        #total_bar .goods .goods-list li .g-info {
            width: calc(100% - 65px);
            width: -webkit-calc(100% - 65px);
        }

        #total_bar .goods .goods-list li .g-info .sj ul {
            width: calc(100% - 75px);
            width: -webkit-calc(100% - 75px);
        }

        #total_bar .goods .goods-list li .g-info .sj span {
            vertical-align: top;
        }

        #total_bar .goods .goods-list li .g-info .sj ul li {
            margin-bottom: 5px;
        }

        #total_bar .goods .goods-list li .g-num {
            float: none;
            position: absolute;
            right: 10px;
            bottom: 15px;
        }

        #total_bar .phb .phb-list .sj {
            height: inherit;
        }

        #total_bar .phb .phb-list tr {
            height: inherit;
        }

        #total_bar .phb .phb-list .sj ul {
            /* width: calc(100% - 34px);
            width: -webkit-calc(100% - 34px); */
            height: 30px;
        }

        #total_bar .phb .phb-list .sj ul li {
            /* height: 34px; */
        }

        #total_bar .phb .phb-list .sj span {
            vertical-align: top;
            font-size: .8em;
        }

        #share_body {
            min-height: 100%;
            background: #DC2312 url("../images/Beijing2.png") no-repeat top center;
            background-size: 100% auto;
        }

        #share_content {
            height: 100%;
            overflow: hidden;
        }

        #share_content .share_xm {
            margin: 10% auto 0;
            width: 80%;
        }

        #share_content .share_xm .pic {
            float: left;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%;
            overflow: hidden;
        }

        #share_content .share_xm .pic img {
            width: 100%;
            height: 100%;
        }

        #share_content .share_xm .title {
            margin-left: 45px;
            background: rgba(0, 0, 0, .4);
            padding: 4px 10px;
            color: #fff;
            font-size: .8em;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }

        #share_content .card {
            overflow: hidden;
            margin: 10px auto 0;
            text-align: center;
            width: 260px;
            height: 340px;
            background: url("../images/kapbj.png") no-repeat center;
            background-size: 100% auto;
        }

        #share_content .card .title {
            margin-top: 20px;
            background: url("../images/biaoti.png")no-repeat center;
            background-size: 140px 36px;
            color: #FEFB60;
            height: 36px;
            line-height: 36px;
            font-size: 1.2em;
        }

        #share_content .card .box {
            overflow: hidden;
            padding: 8px;
            border: 1px solid #FE300B;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%;
            width: 140px;
            height: 140px;
            margin: 10px auto 30px;
        }

        #share_content .card .box img {
            width: 140px;
            height: 140px;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%;
            overflow: hidden;
        }

        #share_content .card .name {
            font-size: .9em;
            text-align: center;
            overflow: hidden;
            height: 40px;
            line-height: 20px;
        }

        #share_content .card .name span {
            color: #FE300B;
        }

        #share_content .card .receive {
            line-height: 30px;
            height: 30px;
            width: 140px;
            margin: 0 auto;
            background: #FB5142;
            color: #FEFB60;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
        }

        /******************************************* guanzu_box *************************************************/

        .guanzu_box {
            position: fixed;
            left: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 999;
            color: #999;
            height: 50px;
            bottom: 0px;
        }

        .guanzu_box_main {
            height: 50px;
            width: 100%;
            position: relative;
            font-size: 1.6em;
            line-height: 50px;
            text-align: center;
        }

        .guanzu_box_main a {
            color: #FFF;
        }

        .guanzu_box_main_close {
            height: 30px;
            width: 30px;
            position: absolute;
            top: 10px;
            right: 10px;
        }

        .guanzu_box_main_close a {
            height: 30px;
            width: 30px;
            display: block;
            line-height: 30px;
            border-radius: 15px;
            background-color: #FE300B;
            text-align: center;
            font-size: 0.9em;
        }

        .clearfix:after {
            content: "";
            display: block;
            height: 0;
            overflow: hidden;
            clear: both;
            visibility: hidden;
        }
        #tu_info_pic{
            background-size:cover;
            background-repeat: no-repeat;
        }
        
        @keyframes xuanzhuan {
            0% {
                transform: rotate(0deg)
            }
            100% {
                transform: rotate(360deg)
            }
        }

        @-webkit-keyframes xuanzhuan {
            0% {
                -webkit-transform: rotate(0deg)
            }
            100% {
                -webkit-transform: rotate(360deg)
            }
        }

        .heartbeat {
            animation: heartbeat 2s infinite;
        }

        @keyframes heartbeat {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.02);
            }
            100% {
                transform: scale(1);
            }
        }

        .zoomIn {
            animation-name: zoomIn;
            animation-duration: 1s;
            animation-fill-mode: both;
        }

        @keyframes zoomIn {
            from {
                opacity: 0;
                transform: scale3d(.3, .3, .3);
            }
            50% {
                opacity: 1;
            }
        }

        .zoomOut {
            animation-name: zoomOut;
            animation-duration: 1s;
            animation-fill-mode: both;
        }

        @keyframes zoomOut {
            from {
                opacity: 1;
                transform: scale3d(.3, .3, .3);
            }
            50% {
                opacity: 0;
            }
        }

        .drift {
            animation: drift 1s infinite;
        }

        @keyframes drift {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(3px);
            }
            100% {
                transform: translateY(0);
            }
        }
        